# ========================
# GLOBAL
# ========================
.DS_Store
*.log
*.tmp
*.swp
.env
.env.*
coverage/
dist/
build/

# ========================
# EDITORS
# ========================
.vscode/
.idea/

# ========================
# NODE
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# BACKEND
# ========================
backend/node_modules/
backend/dist/
backend/.env

# ========================
# FRONTEND (Flutter)
# ========================
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/

# ========================
# ADMIN
# ========================
forja-admin/node_modules/
forja-admin/dist/
forja-admin/.env
forja-admin/docs/credenciales.txt
documento_residencias 

# ========================
# FLUTTER DESKTOP BUILDS
# ========================
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/