# Bases de Datos
*.db
forja.db

# Python / Backend
.venv/
env/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Editores
.vscode/
.idea/
*.swp

# Variables de entorno
.env

# Flutter y Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/
generated/

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/.idea/
**/android/app/src/main/res/values/generated.xml

# iOS y macOS
**/ios/Flutter/ephemeral/
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/.symlinks/
**/ios/Pods/
**/ios/Frameworks/
**/macos/Flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugins.cmake

