
*.db
forja.db

.venv/
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class

.vscode/

.env

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/

**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/.idea/


.DS_Store
Thumbs.db